.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
  background: #fff;
}

.input-item:hover {
  border: 1px solid #000;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.3s ease;
}
button:hover {
  background: #6c8cff;
}
